<!--<h2>Manage widgets</h2>-->

<div class="row">
    <div class="col-md-12 col-xs-12">
        <h4>Add new city</h4>
        <form ng-submit="vm.searchCity(vm.searchTerm)">
            <div class="form-group">
                <label for="citySearch">City name</label>
                <input type="text" class="form-control" id="citySearch" ng-model="vm.searchTerm" placeholder="ex: Montpellier">
            </div>
            <p>
                <button type="submit" class="btn btn-default">Search</button>
                
            </p>


        </form>
    </div>
    <div class="col-md-12 col-xs-12">
        <center>
            <img src="./ring.gif" width="40"  ng-show="vm.loading"/>
        </center>
        
        <div ng-show="vm.searchResult.length > 0">
            <h4>Results</h4>
            <table class="table">
                <tbody>

                    <tr ng-repeat="item in vm.searchResult">
                        <td>
                            <img ng-src="http://openweathermap.org/images/flags/{{item.sys.country | lowercase }}.png" ng-show="item.sys.country.length===2">
                            <b>{{item.name}}, {{item.sys.country}}</b>
                        </td>
                        <td>
                            <button class="btn btn-primary pull-right" ng-click="vm.addCity(item)">Add to Widgets</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12" ng-show="vm.widgets.length">
        <h4>My widgets</h4>
        <table class="table">
            <tbody>
                <tr ng-repeat="item in vm.widgets">
                    <td>
                        <img ng-src="http://openweathermap.org/images/flags/{{item.sys.country | lowercase }}.png" ng-show="item.sys.country.length===2">
                        <b>{{item.name}}, {{item.sys.country}}</b>
                    </td>
                    <td>
                        <button class="btn btn-danger pull-right" ng-click="vm.removeCity($index)">Remove from Widgets</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>