<div class="row">
    <div>
        <div ng-hide="vm.cites.length" class="text-center">
            <h2>Welcome to Weather Dashboard</h2>
            <p>
                You don't have widget configured, go to Settings page to add cities
            </p>
            <a href="/settings" class="btn btn-default" role="button">Add widget</a>
        </div>

        <div  ng-show="vm.cites.length">
            <h2>My Widgets</h2>
            <div ng-repeat="item in vm.widgets">

                <div render-widget item="item" class="col-md-12 col-xs-12"></div>
            </div>
        </div>
    </div>
</div>