<div class="row widget">
    <div class="col col-md-6 col-xs-6">

        <h5>
            <img ng-src="http://openweathermap.org/images/flags/{{vm.item.city.country | lowercase }}.png"> {{vm.item.city.name}},
            {{vm.item.city.country}}
        </h5>
        <h2>
            <img ng-src="{{vm.iconUrl}}{{vm.currentForecast.weather[0].icon}}.png"> {{vm.currentForecast.main.temp | number:0}}
            °
        </h2>
        <a ng-click="vm.toggle()" href="#" ng-hide="vm.item.visible">Show Details</a>
        <a ng-click="vm.toggle()" href="#" ng-show="vm.item.visible">Hide Details</a>
        
        
    </div>
    <div class="col col-md-6 col-xs-6">
        <div ng-show="vm.item.visible">
            <table class="table table-striped table-bordered">
                <tr>
                    <td>Wind</td>
                    <td>{{vm.currentForecast.wind.speed}} m/s</td>
                </tr>
                <tr>
                    <td>Cloudiness</td>
                    <td>{{vm.currentForecast.weather[0].description}}</td>
                </tr>
                <tr>
                    <td>Pressure</td>
                    <td>{{vm.currentForecast.main.pressure}} hpa</td>
                </tr>
                <tr>
                    <td>Humidity</td>
                    <td>{{vm.currentForecast.main.humidity}} %</td>
                </tr>
                <tr>
                    <td>Geo coords</td>
                    <td>{{vm.item.city.coord.lat}}, {{vm.item.city.coord.lat}}</td>
                </tr>
            </table>

        </div>

    </div>

    <div class="col col-md-12 col-xs-12 comingForecast"  ng-show="vm.item.visible">
        <table class="table-bordered ">
            <tr>
                <td ng-repeat="subItem in vm.item.list" ng-class="{'odd' : $index %2 ===0}">
                    <div class="col grey">
                        <div>
                            {{vm.getDate(subItem.dt_txt)| date:'d/M'}}
                        </div>
                        <div>
                            {{vm.getDate(subItem.dt_txt)| date:'H:mm'}}
                        </div>
                    </div>
                    <div class="col">
                        <img ng-src="{{vm.iconUrl}}{{subItem.weather[0].icon}}.png">
                    </div>
                    <div>
                        {{subItem.main.temp | number:0}} °
                    </div>
                    <div>
                       {{subItem.wind.speed}} m/s
                    </div>
                    <div class="grey">
                        {{subItem.main.pressure}}
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>